<header>
    <!-- Hamburger menu Control -->
    <div class="hamburgerToggle span-1-6-xs span-1-6-sm">
        <hamburger-toggle data-state="tgState" data-pagewidth="pageWidth"></hamburger-toggle>        
    </div>

    <!-- <div class="button-back span-1-6-sm">
        <a href="#/genres">
            <img src="images/heart_icon.svg">
        </a>       
    </div> -->

    <!-- Logo Container -->
    <div class="span-4-6-xs span-4-6-sm span-3-6-md no-pad c">
        <a class="logo"><img src="images/logo.svg"></a>
    </div>
    <!-- Navigation Container -->
    <div class="navBar span-4-10-md no-pad" ng-include='"partials/navigation.html"'></div>
    <!-- Love This Container -->
    <div class="span-1-6-xs span-1-6-sm span-1-10-md no-pad r">        
        <a href="#" class="icon-heart">
            <img src="images/heart_icon.svg">
        </a>
    </div>    
</header>
