<!-- Player Content -->
<div class="span-1-2">
	<a class="span-1-3 top-space">
		<img src="images/Foward_icon_L.svg">
	</a>
	<a class="span-1-3 c">
		<img src="images/pause_icon.svg">
	</a>
	<a class="span-1-3 top-space r">
		<img src="images/Foward_icon_R.svg">
	</a>
</div>
<div class="span-1-2 color-white top-space">
	<ul class="unstyled space-left">
		<li class="color-grey">Your're Listening to: <span class="color-white b">{{currentStation.genre.title}} {{currentStation.station.station_name}}</span></li>
		<li>{{currentStation.station.station_information}}</li>
		<li>This Can Be Some Additional Information.</li>
	</ul>
</div>