<div class="grid no-pad">
	<div class="span-1-1 video-header no-pad top-space bottom-space">
		<div id="videoHolder"></div>
	</div>
	<div class="span-9-10 top-space bottom-space">
		<h3 class="video__title color-white">{{video.title.__text}}</h3>
	</div>
	<div class="span-1-10 top-space bottom-space r">
		<a href=""><img src="images/heart_icon.svg"></a>
	</div>
	<div class="span-1-1">
		<a href="" class="video__listen c"><img src="images/listen_icon.svg"> Listen</a>
	</div>
	<div class="span-1-2">
		<a href="" class="video__watch c">Watch</a>
	</div>
	<div class="span-1-2">
		<a href="" class="video__link c">Link</a>
	</div>
	<div class="span-1-1">
		<p class="large color-white">{{video.description.__text}}</p>
	</div>
</div>